@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tw-animate-css';

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

html {
    scroll-behavior: smooth;
}
